/*------------------------ Universal CSS Start ------------------------*/
* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #333333;
}

/*-------- Header --------*/
header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;

}

/*---- Desktop ----*/
#desktop_header {
    margin: 0 130px;
}

#desktop_header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#desktop_header nav img{
    width: 90px;
}

#desktop_header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    padding: 0;
}

#desktop_header li a {
    font-size: 38px;
    color: black;
    font-family: Roboto, arial, sans-serif;
}

#desktop_header li a:hover {
    border-bottom: 3px solid #445b3e;
}

/*---- Mobile ----*/
#mobile_header {
    display: none;
}

#mobile_header a {
    color: black;
}

#mobile_header_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile_header_top h1 {
    font-size: 40px;
    font-weight: normal;
}

#mobile_header_top a img {
    height: 66px;
    width: 66px;
}

#mobile_header_top i {
    font-size: 37px;
}

#mobile_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.2s;
}

#overlay_content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#overlay_content ul {
    list-style: none;
    padding: 0;
    align-self: center;
}

#mobile_overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.2s;
}

.close_button {
    position: absolute;
    top: 49px;
    right: 13px;
    font-size: 35px;
    color: black;
}

/* ---- Current page class | Add to the <li> in id "desktop_header" for the current page, to display a line under the menu button*/
.current_page {
    border-bottom: 3px solid #445b3e;
}

/*------------------------ Universal CSS End ------------------------*/


/*------------------------ Page specific CSS Start ------------------------*/


/*-------- Stats --------*/
#user_info {
    display: flex;
    justify-content: center;
    background-color: #445b3e;
    padding: 40px 0 52px 0;
}

#user_info #user_icon {
    font-size: 145px;
}

#membership_info {
    background-color: #333333;
}

/*------------------------ Page specific CSS End ------------------------*/

/*------------------------ Media queries ------------------------*/
@media screen and (max-width: 990px) {
    #desktop_header nav ul {
        gap: 60px;
    }
}

@media screen and (max-width: 930px) {
    #desktop_header nav ul {
        gap: 40px;
    }
}

@media screen and (max-width: 900px) {
    #desktop_header nav a {
        font-size: 24px;
    }

    #desktop_header h1 {
        font-size: 50px;
    }
}

/* Mobile & Tablet */
@media screen and (max-width: 768px) {
    #desktop_header {
        display: none;
    }

    #mobile_header {
        display: block;
        margin: 0 10px;
    }
}